2-svm/code/1-data/training
2-svm/code/1-data/test_data.txt
2-svm/code/1-data/test_labels.txt
2-svm/code/1-data/training.txt
2-svm/code/mapper_tmp
3-kmeans/code/1-data/tiny_subset



*.py[cod]

# C extensions
*.so

.idea

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

.DS_Store

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
output/_logs/history
_SUCCESS
_logs


~$_data.xlsx
~$data_and_test_runs.xlsx

2-svm/code/2-visual_test/exact_prediction.txt
2-svm/code/2-visual_test/prediction.txt
2-svm/code/2-visual_test/results.html
2-svm/code/2-visual_test/weights.txt
arr_0.npy
